workflows/waha-acks-webhook.json
{
  "name": "WAHA Ack Webhook Template",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha-acks",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -920,
        224
      ],
      "id": "f0d4da3b-86ab-43c7-b100-d32d812f9c36",
      "name": "WAHA Webhook",
      "webhookId": "waha-acks-template"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ack-event-check",
              "leftValue": "={{$json.event}}",
              "rightValue": "^(message\\.ack|message\\.ack\\.group)$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -680,
        224
      ],
      "id": "5f0cc3c2-6385-4bf8-9ea1-8d0d0eb7c2f8",
      "name": "Is Ack Event"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.payload ?? {};\nconst ack = Number(payload.ack ?? -1);\nconst maxAck = Number.isFinite(ack) ? ack : -1;\nconst statusMap = {\n  '-1': 'failed',\n  '0': 'queued',\n  '1': 'sent',\n  '2': 'delivered',\n  '3': 'read',\n  '4': 'played',\n};\n\nreturn [{\n  json: {\n    webhook_event: $json.event,\n    session: $json.session ?? 'default',\n    whatsapp_message_id: payload.id ?? '',\n    whatsapp_chat_id: payload.from ?? payload.to ?? '',\n    whatsapp_participant: payload.participant ?? null,\n    whatsapp_ack: maxAck,\n    whatsapp_ack_name: payload.ackName ?? 'UNKNOWN',\n    whatsapp_status: statusMap[String(maxAck)] ?? 'unknown',\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -456,
        144
      ],
      "id": "3ea44c51-87eb-43ca-bf9d-7e930f1b3e90",
      "name": "Normalize Ack"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.frigate_events\nSET\n  whatsapp_chat_id = CASE WHEN {{$json.whatsapp_chat_id ? 'TRUE' : 'FALSE'}} THEN {{\"'\" + $json.whatsapp_chat_id.replace(/'/g, \"''\") + \"'\"}} ELSE whatsapp_chat_id END,\n  whatsapp_ack = GREATEST(COALESCE(whatsapp_ack, -1), {{$json.whatsapp_ack}}),\n  whatsapp_status = CASE GREATEST(COALESCE(whatsapp_ack, -1), {{$json.whatsapp_ack}})\n    WHEN -1 THEN 'failed'\n    WHEN 0 THEN 'queued'\n    WHEN 1 THEN 'sent'\n    WHEN 2 THEN 'delivered'\n    WHEN 3 THEN 'read'\n    WHEN 4 THEN 'played'\n    ELSE 'unknown'\n  END,\n  whatsapp_delivered_at = CASE WHEN {{$json.whatsapp_ack}} >= 2 THEN COALESCE(whatsapp_delivered_at, NOW()) ELSE whatsapp_delivered_at END,\n  whatsapp_read_at = CASE WHEN {{$json.whatsapp_ack}} >= 3 THEN COALESCE(whatsapp_read_at, NOW()) ELSE whatsapp_read_at END,\n  whatsapp_error = CASE WHEN {{$json.whatsapp_ack}} < 0 THEN {{\"'\" + ($json.whatsapp_ack_name || 'ERROR').replace(/'/g, \"''\") + \"'\"}} ELSE whatsapp_error END\nWHERE whatsapp_message_id = {{$json.whatsapp_message_id ? \"'\" + $json.whatsapp_message_id.replace(/'/g, \"''\") + \"'\" : 'NULL'}};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -208,
        144
      ],
      "id": "ca32cbf4-fd2b-4479-86f5-988455d3e6ad",
      "name": "Update WhatsApp Ack"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ok-true",
              "name": "ok",
              "value": "true",
              "type": "boolean"
            },
            {
              "id": "status-field",
              "name": "status",
              "value": "={{$json.whatsapp_status || 'ignored'}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        144
      ],
      "id": "0ebd9500-6c0e-4c3b-ae9e-60d7e4bd92f6",
      "name": "Webhook OK"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ignored-ok",
              "name": "ok",
              "value": "true",
              "type": "boolean"
            },
            {
              "id": "ignored-reason",
              "name": "status",
              "value": "ignored_event",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -456,
        320
      ],
      "id": "6d662636-c476-4aec-9200-fc6f27453dfc",
      "name": "Ignore Event"
    }
  ],
  "pinData": {},
  "connections": {
    "WAHA Webhook": {
      "main": [
        [
          {
            "node": "Is Ack Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ack Event": {
      "main": [
        [
          {
            "node": "Normalize Ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Ack": {
      "main": [
        [
          {
            "node": "Update WhatsApp Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update WhatsApp Ack": {
      "main": [
        [
          {
            "node": "Webhook OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "template-version-1",
  "meta": {},
  "id": "waha-ack-webhook-template",
  "tags": []
}
